In [ ]:
#Introduction to iterating on numpy arrays

In [1]:
import numpy as np

In [2]:
a=np.arange(11)**2
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [3]:
for x in a:
    print(x**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [4]:
student=np.array([['shreyas','chandra','sudha','sindhu'],
                 [45,44,43,42],
                 [76,67,68,56]])

In [5]:
#Iteration omn multi dimensional array

for element in student:
                                       #Row wise splitting
    print('i=',element)

i= ['shreyas' 'chandra' 'sudha' 'sindhu']
i= ['45' '44' '43' '42']
i= ['76' '67' '68' '56']

In [6]:
for element in student.flatten():
                                                   #Row major flattening.
    print('i=',element)

i= shreyas
i= chandra
i= sudha
i= sindhu
i= 45
i= 44
i= 43
i= 42
i= 76
i= 67
i= 68
i= 56

In [7]:
for element in student.flatten(order='F'):
                                                   #Column major flattening.      F---> Forton order formatting.
    print('i=',element)

i= shreyas
i= 45
i= 76
i= chandra
i= 44
i= 67
i= sudha
i= 43
i= 68
i= sindhu
i= 42
i= 56

In [8]:
x=np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [9]:
for i in np.nditer(x):                  #Row major flattening
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [11]:
for i in np.nditer (x, order='F'):                  #Column major flattening
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11